@import url('https://fonts.cdnfonts.com/css/ibm-plex-sans');

body{
    background-image: url("./Assets/Components.jpg");
    color: white;
}

.head{
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900;
    border: solid white;
}

.purple-head{
    color: #AD00FF;
}

.subs{
    display: flex;
    justify-content: center;
}

.entry{
    display: flex;
    justify-content: center;
    left:50%;
    right: auto;
    background: rgb(85,0,125);
    background: linear-gradient(140deg, rgba(85,0,125,0.82) 0%, rgba(73,0,107,0.67) 100%);
    flex-basis: content;
    border-radius: 0.8em;
    height: auto;
    padding: 1.2em 3em;
    width: fit-content;
}

.entryfield{

}

.entrybutton{

}

.footer{

}
.foot1{
    display:flex;
    justify-content: center;
}
.foot2{
    display:flex;
    justify-content: center;
}